{% extends "base.html.twig" %}

{% block title %}
    About
{% endblock %}

{% block body %}

    <h1>About</h1>


    </div>
        <div class="row justify-content-around col-3">
            <h3>Quentin Comelli</h3>
        </div>
    </div>


{% endblock %}


