{% extends "base.html.twig" %}

{% block title %}
    Films
{% endblock %}

{% block body %}

    <h1>
        bienvenue notre Site, voici tous nos Actors
    </h1>


    </div>

    {% if actors is defined %}
        <div class="row justify-content-around col-3">
            <h3>Actors</h3>
            {% for actor in actors %}
                <div class="card text-white bg-primary mb-3 col-12">
                    <div class="card-body d-flex justify-content-between">
                        <a href="/showByActor/{{ actor.id }}">
                            <p>genre : {{ actor.firstName }}</p>
                        </a>
                        <span class="badge bg-primary rounded-pill">{{ actor.movies | length }}</span>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% endif %}

    </div>


{% endblock %}


